.container {
  height: 100%;
  width: 95%;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.booksContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

.bookContainer {
  width: 250px;
  text-align: center;
  margin: 1rem 0;
}

.container img {
  width: 10rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.container img:hover {
  cursor: pointer;
}
