html,
body {
  height: 100vh;
  margin: 0;
  margin-left: 125px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: #818181;
  background-color: #f8f8fd;
  font-size: 0.9rem;
}

h1 {
  font-size: 1.25rem;
  margin: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

th {
  padding: 1rem 0.75rem 1rem 0.75rem;
}

button {
  box-shadow: 0.01rem 0.01rem;
  background-color: #727cf5;
  border-radius: 0.25rem;
  color: #f1f3fa;
  margin: 1rem 1rem 1rem 0.1rem;
  padding: 1rem 1rem 1rem 0.25rem;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #5e6bfa;
}
